<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exposure.exposureservice.repository.SysRoleRepository">
    <resultMap id="BaseMap" type="com.exposure.exposureservice.entity.SysRole">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="permissions" jdbcType="VARCHAR" property="permissions"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="update_user_id" jdbcType="INTEGER" property="updateUserId"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <select id="findAll" resultMap="BaseMap">
        select id, role_name from `sys_role`
    </select>
    <select id="findList" resultMap="BaseMap">
        select
            `sys_role`.id,
            `sys_role`.role_name,
            `sys_role`.permissions,
            `sys_role`.create_time,
            `sys_role`.update_time,
            createUser.user_id as create_user_id,
            createUser.user_name as create_user_name,
            updateUser.user_id as update_user_id,
            updateUser.user_name as update_user_name
        from
            `sys_role`
            left join `sys_user` createUser on `sys_role`.create_user_id = createUser.user_id
            left join `sys_user` updateUser on `sys_role`.update_user_id = updateUser.user_id
            <if test="roleName != null">
                where `sys_role`.role_name like '%' #{roleName} '%'
            </if>
        order by `sys_role`.create_time desc
        limit #{pageStart}, #{pageSize}
    </select>
    <select id="findById" resultMap="BaseMap">
        select * from `sys_role` where id = #{id}
    </select>
    <select id="total" resultType="java.lang.Long">
        select count(1) from `sys_role`
        <if test="roleName != null">
            where role_name like '%' #{roleName} '%'
        </if>
    </select>
    <insert id="insert" parameterType="com.exposure.exposureservice.entity.SysRole">
        insert into `sys_role` (
          role_name,
          permissions,
          create_user_id,
          create_time
        ) values (
          #{roleName},
          #{permissions},
          #{createUserId},
          #{createTime}
        )
    </insert>
    <update id="update" parameterType="com.exposure.exposureservice.entity.SysRole">
        update `sys_role`
        <set>
            <if test="roleName != null">
                role_name = #{roleName},
            </if>
            <if test="permissions != null">
                permissions = #{permissions},
            </if>
            update_user_id = #{updateUserId},
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>
    <delete id="del" parameterType="java.lang.Integer">
        delete from `sys_roles` where id = #{id}
    </delete>
</mapper>