<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exposure.exposureservice.repository.ThingRepostory">
    <resultMap id="BaseMap" type="com.exposure.exposureservice.entity.Thing">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="info" jdbcType="VARCHAR" property="info" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="images" jdbcType="VARCHAR" property="images" />
        <result column="views" jdbcType="INTEGER" property="views" />
        <result column="likes" jdbcType="INTEGER" property="likes" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="birth_day" jdbcType="TIMESTAMP" property="birthDay" />
        <result column="area" jdbcType="VARCHAR" property="area" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_id" jdbcType="INTEGER" property="createId" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_id" jdbcType="INTEGER" property="updateId" />
        <result column="create_ip" jdbcType="VARCHAR" property="createIp" />
        <result column="update_ip" jdbcType="VARCHAR" property="updateIp" />
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName"/>
        <collection property="labels" ofType="com.exposure.exposureservice.entity.Label">
            <id column="label_id" jdbcType="INTEGER" property="labelId"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="color" jdbcType="VARCHAR" property="color"/>
        </collection>
    </resultMap>
    <select id="findAll" resultMap="BaseMap">
        select
          id, title, `type`, avatar
        from `thing`
        where
        1=1
        <if test="title != null">
            and title like '%' #{title} '%'
        </if>
    </select>
    <select id="findList" resultMap="BaseMap">
        select
        `thing`.id,
        `thing`.title,
        `thing`.type,
        `thing`.info,
        `thing`.avatar,
        `thing`.views,
        `thing`.likes,
        `thing`.area,
        `thing`.sex,
        `thing`.birth_day,
        `thing`.create_time,
        `thing`.update_time,
        createUser.id as create_user_id,
        createUser.user_name as create_user_name,
        updateUser.id as update_user_id,
        updateUser.user_name as update_user_name
        from
          `thing`
        left join `sys_user` createUser on `thing`.create_id = createUser.id
        left join `sys_user` updateUser on `thing`.update_id = updateUser.id
        where
        1=1
        <if test="title != null">
            and title like '%' #{title} '%'
        </if>
        <if test="area != null">
            and area like '%' #{area} '%'
        </if>
        <if test="sex != null">
            and `sex` = #{sex}
        </if>
        <if test="birthDay != null">
            and `birth_day` = #{birthDay}
        </if>
        <if test="type != null">
            and `type` = #{type}
        </if>
        order by create_time desc
        limit #{pageStart}, #{pageSize}
    </select>
    <select id="findById" resultMap="BaseMap">
        select
          `thing`.*,
          label.label_id,
          label.name,
          label.color
        from
          `thing`,`label`,`thing_label`
        where
          `thing`.id = #{id}
          and `thing_label`.thing_id = #{id}
          and `label`.label_id = `thing_label`.label_id
    </select>
    <update id="updateViews" parameterType="java.lang.Long">
        update `thing`
        <set>
            views = views + 1
        </set>
        where id = #{id}
    </update>
    <select id="total" resultType="java.lang.Long">
        select count(1) from `thing`
        where
        1=1
        <if test="title != null">
            and title like '%' #{title} '%'
        </if>
        <if test="area != null">
            and area like '%' #{area} '%'
        </if>
        <if test="sex != null">
            and `sex` = #{sex}
        </if>
        <if test="birthDay != null">
            and `birth_day` = #{birthDay}
        </if>
        <if test="type != null">
            and `type` = #{type}
        </if>
    </select>
    <insert id="insert" parameterType="com.exposure.exposureservice.entity.Thing" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into `thing` (
          id,
          title,
          `type`,
          info,
          avatar,
          images,
          views,
          likes,
          area,
          sex,
          birth_day,
          create_time,
          create_id,
          create_ip
        ) values (
          #{id},
          #{title},
          #{type},
          #{info},
          #{avatar},
          #{images},
          #{views},
          #{likes},
          #{area},
          #{sex},
          #{birthDay},
          #{createTime},
          #{createId},
          #{createIp}
        )
    </insert>
    <insert id="insertThingLabels" parameterType="java.util.List">
        insert into `thing_label` (
          `thing_id`,
          `label_id`
        ) values
        <foreach collection="list" item="item" index="index"  separator=",">
            (
            #{item.thingId},
            #{item.labelId}
            )
        </foreach>
    </insert>
    <delete id="delThingLabelByThingId" parameterType="java.lang.Long">
      delete from `thing_label` where thing_id = #{id}
    </delete>
    <update id="update" parameterType="com.exposure.exposureservice.entity.Thing">
        update `thing`
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="info != null">
                info = #{info},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="images != null">
                images = #{images},
            </if>
            <if test="likes != null">
                likes = #{likes},
            </if>
            <if test="area != null">
                area = #{area},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="birthDay != null">
                birth_day = #{birthDay},
            </if>
            update_time = #{updateTime},
            update_id = #{updateId},
            update_ip = #{updateIp}
        </set>
        where id = #{id}
    </update>
    <delete id="del" parameterType="java.lang.Long">
        delete from `thing` where id = #{id}
    </delete>
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            update `thing`
            <set>
                create_type = #{item.createType}
            </set>
            where id = #{item.id}
        </foreach>
    </update>
</mapper>