<div xmlns:th=http://www.thymeleaf.org xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
    <div layout:fragment="content">
        <div th:include="navbar"></div>
        <div style="padding: 20px;">
            <form class="form-inline" style="padding-bottom: 20px;">
                <div class="form-group" style="margin-right: 10px;">
                    <input type="text" class="form-control" placeholder="用户名">
                </div>
                <button type="submit" class="btn btn-primary">查询</button>
            </form>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">用户名</th>
                    <th scope="col">手机号</th>
                    <th scope="col">邮箱</th>
                    <th scope="col">创建时间</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member, stat : ${members.list}">
                    <th scope="row" th:text="${stat.index+1}"></th>
                    <td th:text="${member.userName}"></td>
                    <td th:text="${member.mobile}"></td>
                    <td th:text="${member.email}"></td>
                    <td th:text="${#dates.format(member.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm">编辑</button>
                        <button type="button" class="btn btn-danger btn-sm">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${members.pageIndex == 1} ? 'disabled' : ''">
                        <a class="page-link" th:href="'/member/list?pageIndex=' + ${members.pageIndex - 1}">上一页</a>
                    </li>
                    <li class="page-item" th:classappend="${members.pageIndex == item} ? 'active' : ''" th:each="item : ${members.pages}">
                        <a class="page-link" href="#" th:text="${item}"></a>
                    </li>
                    <li class="page-item" th:classappend="${members.pageIndex == members.pages} ? 'disabled' : ''">
                        <a class="page-link" th:href="'/member/list?pageIndex=' + ${members.pageIndex + 1}">下一页</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>