<nav class="navbar navbar-expand-lg navbar-light bg-light" xmlns:th=http://www.thymeleaf.org>
    <a class="navbar-brand" href="#">曝光后台管理系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${view == 'index'} ? 'active' : ''">
                <a class="nav-link" href="/index">首页</a>
            </li>
            <li class="nav-item" th:classappend="${view == 'member'} ? 'active' : ''">
                <a class="nav-link" href="/member/list">会员</a>
            </li>
            <li class="nav-item" th:classappend="${view == 'thing'} ? 'active' : ''">
                <a class="nav-link" href="/thing/list">事物</a>
            </li>
            <li class="nav-item" th:classappend="${view == 'sysUser'} ? 'active' : ''">
                <a class="nav-link" href="/sysUser/list">系统用户</a>
            </li>
            <li class="nav-item" th:classappend="${view == 'sysRole'} ? 'active' : ''">
                <a class="nav-link" href="/sysRole/list">系统角色</a>
            </li>
        </ul>
    </div>
</nav>